.auth {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

.card {
  max-width: 400px;
  width: 100%;
}

.authForm {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

